---
import { Image } from "astro:assets";
import images from "../constants/gallery.ts";
---

<section
  id="gallery"
  class="flex gap-4 flex-wrap justify-center animate__animated animate__fadeIn animate__delay-5s animate__slow"
>
  {
    images.map((img, idx) => (
      <Image
        src={img}
        width={595}
        height={1080}
        alt={`Tattoo ${idx}`}
        class="w-32 md:w-48 lg:w-52 rounded-3xl border-2 border-slate-500 hover:shadow-md hover:shadow-purple-300 duration-500"
      />
    ))
  }
</section>
