---
import { Image } from "astro:assets";
import raynel from "../assets/Raynel.jpg";
---

<section class="flex mx-auto my-5">
  <Image
    src={raynel}
    width={809}
    height={809}
    alt="Raynel Brito"
    class="w-screen pt-0 fixed -z-10 brightness-[25%] lg:relative lg:w-full lg:brightness-100 lg:rounded-2xl lg:pt-3"
  />
  <div>
    <h1
      class="max-w-screen-lg mx-auto text-xl sm:text-3xl font-extrabold text-white text-center pt-3 px-5"
    >
      ¿Estás buscando un lugar donde plasmar tu arte y personalidad en tu piel?
    </h1>
    <br />
    <p class="text-slate-200 font-semibold mx-auto px-5">
      <span class="text-purple-400 text-extrabold"
        >Creemos el diseño que mejor se adapte a ti</span
      >. Con una basta <span class="text-green-400 text-extrabold"
        >experiencia</span
      > en variedad de estilos, desde los más clásicos hasta los más
      <span class="text-green-400 text-extrabold">innovadores</span>, pasando
      por los tribales, los geométricos, los realistas, los minimalistas y
      muchos más. También puedes traer tu propio diseño o dejarte inspirar por
      nuestra galería de trabajos anteriores.
    </p>
    <br />
    <p class="text-slate-200 font-semibold max-w-screen-lg mx-auto px-5">
      <span class="text-purple-400 text-extrabold"
        >Nuestra prioridad es tu satisfaccióny tu seguridad</span
      >. Por eso, utilizamos materiales de primera <span
        class="text-green-400 text-extrabold">calidad</span
      >, desechables y esterilizados. Cumplimos con todas las normas sanitarias
      y de higiene. Te garantizamos un resultado

      <span class="text-green-400 text-extrabold">óptimo y duradero</span>, con
      unos precios competitivos y ajustados a tu presupuesto.
    </p>
  </div>
</section>
