---
import Whatsapp from "../components/Icons/WhatsappIcon.astro";
import Facebook from "../components/Icons/FacebookIcon.astro";
import Instagram from "../components/Icons/InstagramIcon.astro";
import Tiktok from "../components/Icons/TiktokIcon.astro";
---

<ul
  class="flex item-center gap-2 py-5 justify-center md:justify-start animate__animated animate__fadeIn animate__delay-4s animate__slow"
>
  <li class="bg-slate-700 p-2 rounded-full hover:bg-slate-500 duration-200">
    <a href="https://api.whatsapp.com/send?phone=584242168660" target="_blank">
      <Whatsapp />
    </a>
  </li>
  <li class="bg-slate-700 p-2 rounded-full hover:bg-slate-500 duration-200">
    <a href="https://www.facebook.com/Ractortattoo/" target="_blank">
      <Facebook />
    </a>
  </li>
  <li class="bg-slate-700 p-2 rounded-full hover:bg-slate-500 duration-200">
    <a href="https://instagram.com/ractortattoo" target="_blank">
      <Instagram />
    </a>
  </li>
  <li class="bg-slate-700 p-2 rounded-full hover:bg-slate-500 duration-200">
    <a href="https://www.tiktok.com/@raynel_tattoo" target="_blank">
      <Tiktok />
    </a>
  </li>
</ul>
