<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ractor, tattoo artist" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ractor Tattoo</title>
    <meta
      name="description"
      content="Artista del tatuaje Raynel Bryto, alias Ractor Tattoo, ubicado en Caracas, Venezuela. Te ofrecemos una experiencia única e inolvidable. Contamos con un equipo de tatuadores expertos que te asesorarán y te ayudarán a elegir el diseño que mejor se adapte a ti."
    />
    <meta
      name="keywords"
      content="tatuajes, tatuador, artista, estudio de tatuajes, Caracas, Venezuela"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #111;
    color: #fff;
  }
</style>
